include COPYING.BSD
include COPYING.LESSER
include CONTRIBUTING.md
include MANIFEST.in
include README.md
include AUTHORS.md
include setup.cfg.template
include setup.cfg.android
include setup.py
include setupegg.py
include zmqversion.py
include tox.ini
include .travis.yml

graft docs
prune docs/build
prune docs/gh-pages

include bundled/zeromq/COPYING
graft bundled/zeromq/include
include bundled/zeromq/builds/msvc/platform.hpp
graft bundled/zeromq/src
exclude bundled/zeromq/src/Makefile
exclude bundled/zeromq/src/Makefile.am
exclude bundled/zeromq/src/platform.hpp

# allow configure to run
include bundled/zeromq/config/install-sh
include bundled/zeromq/config/config.sub
include bundled/zeromq/config/config.guess
include bundled/zeromq/config/ltmain.sh
recursive-include bundled/zeromq *.in
# include bundled/zeromq/Makefile.in
# include bundled/zeromq/*/Makefile.in
# include bundled/zeromq/builds/msvc/Makefile.in
# include bundled/zeromq/foreign/openpgm/Makefile.in
include bundled/zeromq/configure

graft buildutils
graft examples
graft zmq
graft perf

exclude setup.cfg
exclude zmq/libzmq*
# exclude docs/_static
# exclude docs/_templates

global-exclude __pycache__/*
global-exclude .deps/*
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .DS_Store
global-exclude .mailmap

